
.layout{
    display: flex;
    flex-direction: column;
}

.wrapper{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 85%;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.photo{
    background-color: blue;
}

.desc{
    background-color: blueviolet;
    display: grid;
    grid-template-rows: auto auto 2fr;
}

.navbar{
    background-color: red;
}

.desc-title{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.list-btn{
    display: flex;
    justify-content: center;
    list-style: none;
}

.btn{
    padding: 2px;
    margin: 5px;
    border-radius: 5%;
    height: 80%;
}

footer{
    height: 10vh;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}